 * {
    margin: 0;
    padding: 0;
    html { box-sizing: border-box; }
    
    *, *:before, *:after { box-sizing: inherit; }

 }

:root {
    /* colours */
    --bg-color: rgb(11, 11, 11);
    --secondary-color: rgb(117, 114, 114);
    --font-color: rgb(242, 28, 135);
    --font2-color: white;
    --font3-color: black;
    /* font styles */
    --main-font: "Poppins", sans-serif;
    /* font weights */
    --reg-weight: 400;
    --med-weight:500;
    --heavy-weight:600;
    --heaviest-weight:700;
    /* font sizes */

    
    /* wrappers */
    --desktop-wrapper-width: 90%;
    --mobile-wrapper-width: 95%;
}

.wrapper {
    width: var(--mobile-wrapper-width);
}

html {
    font-size: 1.875rem;
}

img {
    max-width: 100%;
    display: block;
}
body {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: var(--main-font);
    min-height: 90vh;
    font-size: 62.5%;
    line-height: 1.5rem;
}
li {
    list-style: none;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1, h2  {
    font-weight: bold;
    font-size: 1.25rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

h2 {
    display: flex;
    justify-content: center;
}

.heading {
    gap: 10px;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
    
}

/* navigation */
/* .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    list-style-type: none;
} */
.nav-menu {
    display: none;
    /* align-items: center; */
}
.hamburger-menu {
    align-items: center;
}
.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: var(--reg-weight);
    color: var(--font-color);
}

.nav-link:hover {
    color: var(--font-color);
}

button {
    background-color: var(--font-color);
    color: var(--bg-color);
    font-weight: bold;
    align-items: center;
    /* border-radius: 10px; */
    padding: 20px;
    margin: 0 auto;
}

button, input {
    overflow: visible;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

section {
    min-height: 65vh;
    padding: 10rem 2rem;
}

/* home section */
.home-wrapper{
    width: 100%;
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
}

span {
    color: var(--font-color);
}
/* about section */
.about-wrapper {
    width: 100%;
    padding: 2rem ;
    margin: 0 auto;
    background: var(--secondary-color);
    color: var(--bg-color);
    display: flex; 
    justify-content: center;
    line-height: 0.875rem;
}

.about-content {
    align-items: center;
}
 
/* skills section */
.skills-wrapper {
    width: 100%;
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    
}
.skills-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-title{
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.skills h2 {
    align-items: center;
}
/* projects */
.projects-wrapper {
    width: 100%;
    padding: 2rem;
    background: var(--secondary-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .projects a {
    color: var(--font3-color); */
    /* display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--font3-color);

} */

.itlct-project {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    color: var(--font3-color);
   
}
.itlct-project a:hover {
    color: var(--font-color);
}
/* contact */
.contact-wrapper {
    width: 100%;
    padding: 2rem;
    background: var(--bg-color);
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    /* z-index:auto; */
}   

.contact-form {
    display: flex;
    justify-content: center;
}
.form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.footer.text {
    font-size: 0.5 rem;
    margin: 20px;
    padding: 10px;
}


@media only screen and (min-width: 768px) {
    
    /* navigation */
    /* .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        gap: 15px;
    } */

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        margin: 0 auto;
        padding: 20px;
        gap: 20px;
        list-style-type: none;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hamburger-menu {
        display: none;
    }
}