 * {
    html { box-sizing: border-box; }
    
    *, *:before, *:after { box-sizing: inherit; }
    
 }

:root {
    
    --bg-color: rgb(11, 11, 11);
    --secondary-color: rgb(138, 137, 137);
    --font-color: rgb(242, 28, 135);
    --font2-color: white;
    
    --main-font: "Poppins", sans-serif;
    --body-font:
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover,
a:focus {
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: inherit;
}

html {
    font-size: 26px;
}

body {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: var(--main-font);
    min-height: 90vh;

}

/* images */

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 4.5rem;
}

h1, h2, h3  {
    font-weight: bold;
}

button {
    background-color: var(--font-color);
    color: var(--bg-color);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    gap: 20px;
    list-style-type: none;
}

.home {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index:auto; */
}
span {
    color: var(--font-color);
}

.about {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index:auto; */
}

.skills {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index:auto; */
}
.skills-list{
    list-style-type: none;
   
}

.projects {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--secondary-color);
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index:auto; */
}
.projects a {
    color: var(--bg-color);
}

.contact {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index:auto; */
}   

.contact-form .form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
}

.form-input button {
    align-items: center;
}